name: Build and Publish Release
run-name: Build and publish release ${{ github.event.release.tag_name || github.ref_name }}

on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false

  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    needs: build
    environment: prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker image from GHCR
        run: |
          # Pull the image from GHCR
          docker pull ghcr.io/${{ github.repository }}:${{ github.event.release.tag_name }}
          docker tag ghcr.io/${{ github.repository }}:${{ github.event.release.tag_name }} flightlesssomething:prod-release
          docker save flightlesssomething:prod-release | gzip > image.tar.gz

      - name: Deploy to prod server
        uses: ./.github/actions/deploy-via-ssh
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh-user: ${{ secrets.SSH_USER }}
          ssh-host: ${{ secrets.SSH_HOST }}
          ssh-port: ${{ secrets.SSH_PORT }}
          docker-network: ${{ secrets.DOCKER_NETWORK }}
          session-secret: ${{ secrets.SESSION_SECRET }}
          discord-client-id: ${{ secrets.DISCORD_CLIENT_ID }}
          discord-secret: ${{ secrets.DISCORD_SECRET }}
          discord-redirect-url: ${{ secrets.DISCORD_REDIRECT_URL }}
          admin-username: ${{ secrets.ADMIN_USERNAME }}
          admin-password: ${{ secrets.ADMIN_PASSWORD }}
          environment: prod
          image-tag: prod-release
          image-archive: image.tar.gz
